@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: "SFUIText";
  src: url("./assets/fonts/SFUIText-Heavy.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "SFUIText";
  src: url("./assets/fonts/SFUIText-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SFUIText";
  src: url("./assets/fonts/SFUIText-Regular.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "SFUIText";
  src: url("./assets/fonts/SFUIText-Light.woff") format("woff");
  font-weight: 400;
} */

body {
  font-family: "SFUIText", sans-serif;
}
